h1{
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica,Arial, serif;
}

table{
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica,Arial, serif;
  font-weight: normal;
}

input{
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica,Arial, serif;
  font-weight: bold;
}

#map td.occupied-cell
{
  background: #aaa;
  border: 1px solid #777;
  padding: 0;
  margin: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
}

#map td.empty-cell
{
  background: #fff;
  border: 1px solid #777;
  padding: 0;
  margin: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
}